:root {
    --cor1: rgb(74, 136, 156);
    --cor2: rgb(96, 186, 216);
    --cor3: rgb(140, 225, 253);
    --cor4: rgb(184, 222, 235);
    --cordark: rgb(7, 68, 133);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor3);
    height: 100vh;
}

header {
    background: var(--cor2);
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

header .logo {
    color: white;
    background: var(--cor1);
    box-shadow: 2px 2px 5px rgb(7, 68, 133);
    border: 1px solid black;
    border-radius: 0px 30px 30px 30px;
    padding: 5px;
}

header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    background: var(--cor3);
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 0px 30px 30px 30px;
}

header nav a:hover {
    background: var(--cor2);
    color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 5px var(--cordark);
    transition: .4s;
}

header .btn {
    background: var(--cor4);
    border: 3px solid var(--cor1);
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
}

header .btn:hover {
    padding: 12px;
}

main .secao-principal {
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url("../Imagens/calor-oceano.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

main .secao-principal .foto {
    border: 2px solid rgb(102, 235, 208);
    border-radius: 10px;
    background: url("../Imagens/Copo_agua.jpg")
}

#titulo-texto, #descricao {
    color: rgb(70, 0, 0);
    padding: 15px;
    width: 35vw;
    height: 30%;
    box-shadow: 2px 2px 5px black;
}

#titulo-texto {
    background:var(--cordark);
    color: var(--cor4);
    border-radius: 0px 30px 0px 0px;
}

#descricao {
    background: white;
    height: 40%;
    border-radius: 0px 0px 30px 30px;
}

main .secao-formulario {
    background: var(--cordark);
    height: 75vh;
}

main .secao-formulario h2 {
    background: linear-gradient(to left, var(--cordark),var(--cor4));
    color: white;
    line-height: 110px;
    text-align: center;
    font-weight: bolder;
    border-top: 5px solid white;
    border-bottom: 5px solid var(--cor1);
}

main .secao-formulario form  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perguntas, .comentarios {
    background: var(--cor4);
    border: 1px solid black;
    margin-top: 20px;
    
}

.perguntas {
    width: 200px;
    padding: 20px;
    height: 275px;
    border-right: 1px solid var(--cor1);
    border-radius: 10px 0px 0px 10px;
    padding: 50px;
}

.comentarios {
    border-radius: 0px 10px 10px 0px;
}

#iemail {
    margin-left: 15px;
    border: none;
    border-bottom: 3px solid var(--cordark);
    background: rgb(255, 255, 255);
}

footer {
    background: black;
}

footer h4 {
    background: white;
    text-align: center;
    line-height: 75px;
}
footer p {

    color: white;
}

footer .redes {
    background:rgb(184, 222, 235);
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 55px;
}